    body {background-color: #a8db48;}

     @media screen and  (max-width: 600px) {  

       .part1 {color: rgb(0, 73, 0);
            font-size: 150%;
            font-style: italic;
            border-color: darkolivegreen;
            border-style: ridge;
            margin-top: 7px;
            .part2 {border-style: groove;
            font-style: inherit;
          border-color: lightgreen;
        background-color: cadetblue;}
          
     }
     }
     .part1 {border-style: groove;
     border-color: red;
     margin: 6px;
     font-style: italic;
    }
     .part2 {font-style: oblique;}
    
     
     
        
     
        
    